<div class="sharedmargin">
  <div class="container-md">
    <%= render "shared/flash_message" %>
    <h3 class="text-white font-italic">検索結果</h3>
    <div class='row'>
      
  <!--検索対象モデルがUserの時 -->

      <% @users.each do |user| %>
        <div class="col-md-4">
          <div class="mb-4 card-deck"> <!--連結しないで表示したい場合は、card-deck-->
            <div class="card text-white border-dark mb-3 bg-dark ">
              <%= link_to user_path(user),class: "profileimg" do %>
                <%= attachment_image_tag(user, :profile_image, size: "240x180", fallback: "profilenoimage.jpeg",class: "profileimg card-img-top img-fluid") %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title font-weight-bold"><%= user.name %></h5>
                <p class="card-text"><%= user.introduction %></p>
                <% if controller.class.parent.name == "Admin" %>
                  <p class="card-text"><%= user.email %></p>
                  
                  <% if user.is_deleted %>
                    <p class="card-text text-danger">ステータス: 退会</p>
                  <% else %>
                    <p class="card-text text-success">ステータス: 有効</p>
                  <% end %>
                  
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %> 