 <!--部分テンプレートにより@users➩users変更-->
<div class='row scroll-list jscroll mx-auto fadeUp'>
  <% users.each do |user| %>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
      <div class="mb-4 card-deck"> <!--連結しないで表示したい場合は、card-deck-->
        <div class="card text-white border-dark mb-3 bg-transparent hover-img">
          <!--#adminとuserでパスが違う為、条件分岐-->
          <% if controller.class.parent.name == "Admin" %>
            <%= link_to admin_user_path(user.id),class: "profileimg" do %>
              <%= attachment_image_tag(user, :profile_image, size: "240x180", fallback: "profilenoimage.jpg",class: "profileimg user-img-top img-fluid mx-auto d-block")  %>
            <% end %>
          <% else %>
            <%= link_to user_path(user),class: "profileimg" do %>
              <%= attachment_image_tag(user, :profile_image, size: "240x180", fallback: "profilenoimage.jpg",class: "profileimg user-img-top img-fluid mx-auto d-block") %>
            <% end %>
          <% end %>
          
          <div class="card-body">
            <h5 class="card-title font-weight-boldtext-truncate"><%= user.name %></h5>
            <p class="card-text text-truncate"><%= user.introduction %></p>
            <p class="card-text mt-2">加入グループ <%= user.groups.size %></p>
            <div class="card-text">
            <%= link_to following_user_relationships_path(user), class: "card-link" do %>
              <span class="following_count_<%= user.id %>"><%= user.following_users.size %></span>
              <span class="text-white">フォロー中</span>
            <% end %>
            <br>
            <%= link_to follower_user_relationships_path(user), class: "card-link" do %>
              <span class="follower_count_<%= user.id %>"><%= user.follower_users.size %></span>
              <span class="text-white">フォロワー</span>
            <% end %>          
            </div>
            <% if controller.class.parent.name == "Admin" %>
              <p class="card-text text-truncate"><%= user.email%></p>
                <% if user.is_deleted %>
                  <p class="card-text text-danger">ステータス: 退会</p>
                <% else %>
                  <p class="card-text text-success">ステータス: 有効</p>
                <% end %>
            <% end %>
            <div class="jscroll-pagination">
              <%= paginate users %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
</div>
