 <!--部分テンプレートにより@user➩user変更-->
<div class='row'>
  <div class="col-md-10 mx-auto">
    <div class="card flex-md-row mb-4 shadow-sm bg-dark text-white">
      <div class="card-body d-flex flex-column align-items-start">
        
      <% if controller.class.parent.name == "Admin" %>
      <!--管理側で表示-->
        <p class="card-text mb-auto"><h5>ID：<%= user.id %></h5></p>
        <p class="card-text mb-auto"><h5>名前：<%= user.name %></h5></p>
        <p class="card-text mb-auto"><h5>自己紹介文：<%= user.introduction %></h5></p>
        <p class="card-text mb-auto"><h5>メールアドレス：<%= user.email %></h5></p>
        <p class="card-text mb-auto">
          <% if user.is_deleted %>
            <h5 class="text-danger">ステータス：退会</h5>
          <% else %>
            <h5 class="text-success">ステータス：有効</h5>
          <% end %>
        </p>
        <p class="card-text "><%= link_to '編集する',edit_admin_user_path(user.id), class: "btn btn-outline-light  my-2 my-sm-0 hover-img" %></p>
      <% else %>
      <!--ユーザー側で表示-->
        <p class="card-text mb-auto"><h5>名前：<%= user.name %></h5></p>
        <p class="card-text mb-auto"><h5>自己紹介文：<%= user.introduction %></h5></p>
        <p class="card-text "><%= link_to '編集する',edit_user_path(user.id), class: "btn btn-outline-light  my-2 my-sm-0 hover-img" %></p>
      <% end %>
      
      </div>
        <%= attachment_image_tag(user, :profile_image , size: "240x180",fallback: "profilenoimage.jpg",class: "card-img-right flex-auto d-lg-block hover-img") %>
    </div>
  </div>
</div>