<div class="backimg">
  <div class='container px-5 px-sm-0'>
  <%= render "shared/flash_message" %>
    <div class='row mt-5'>
      <div class="col-12">
        <h2 class="text-white">グループ一覧</h2>
        <div class="text-right">
          <%= link_to new_group_path, class: "btn btn-info rounded-circle faa-ring animated" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
        
        <table class="table table-dark">
          <thead>
            <tr>
              <th>グループイメージ</th>
              <th>グループ名</th>
              <th>グループ紹介文</th>
              <th>グループメンバー数</th>
              <th>グループ作成者</th>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr class="table-active">
                <td><%= attachment_image_tag(group, :image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
                <td>
                  <%= link_to group_path(group) do %>
                    <%= group.name %>
                  <% end %>
                </td>
                <td><%= group.introduction %></td>
                <td>加入メンバー<%= group.users.count %>人</td>
                <td><%#= group.users.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>