<div class="sharedmargin">
  <div class="container-fluid shadow-lg p-3">
    <div class="col-sm-4 mx-auto text-center" ><%= render "shared/flash_message" %></div>
    <!--post indexとの部分テンプレート-->
     <%= render "shared/group_showcard_form", group: @group %>

    <div class="row mx-auto m-5">
      <div class="col-xl-4 col-lg-6 col-md-8 col-sm-8 mx-auto">
        <nav class="nav nav-pills nav-justified mb-2">
          <%= link_to "メンバー", "#", class: "nav-item nav-link active hover-img bg-light text-dark" %>
          <%= link_to "投稿一覧", group_posts_path(@group.id), class: "nav-item nav-link hover-img bg-dark text-white" %>
        </nav>
      </div>
    </div>
  
    <div class='row scroll-list jscroll mx-auto'>
      <% @users.each do |member| %>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
          <div class="mb-4 card-deck hover-img "> <!--連結しないで表示したい場合は、card-deck-->
            <div class="card text-white border-dark mb-3 bg-transparent">
                <%= link_to user_path(member) ,class: "profileimg" do %>
                  <%= attachment_image_tag(member, :profile_image, size: "240x180", fallback: "profilenoimage.jpg",class: "profileimg card-img-top img-fluid") %>
                <% end %>
              <div class="card-body">
                <h5 class="card-title font-weight-bold"><%= member.name.truncate(15) %></h5>
                <p class="card-text"><%= member.introduction%></p><!--.truncate(10)-->
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="jscroll-pagination"><%= paginate @users %></div>
    </div>
    
  </div>
</div>
