<div class="sharedmargin">
    <div class="container-md">
      <%= render "shared/flash_message" %>
      <div class='row'>
        <h3 class="text-white col-sm-3 col-xs-6 m-1 font-italic">グループ詳細</h3>
        <div class="col-sm-7 text-right">
          <% if @group.users.include?(current_user) %>
            <%= link_to "新規投稿", new_group_post_path(@group.id), class: "btn btn-light"%>
          <% end %>
        </div>
      </div>
      
      <div class='row'>
        <div class="col-sm-3 col-xs-6 m-1">
          <div class="card-deck" style="width: 20rem;"> <!--連結しないで表示したい場合は、card-deck-->
            <div class="card text-white border-dark mb-3 bg-dark ">
                <%= attachment_image_tag(@group, :image, size: "240x180", fallback: "groupnoimage.jpg", class: "card-img-top img-fluid" )%>
              <div class="card-body">
                <h5 class="card-title font-weight-bold"><%= @group.name %></h5>
                <p class="card-text"><%= @group.introduction %></p>
                
                <% if @group.owner_id == current_user.id %>
                  <p class="card-text"><%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success m-1" %>
                  <%= link_to 'Destroy', group_path(@group), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger m-1"%>
                  </p>
                <% elsif @group.member_by?(current_user) %>
                  <%= link_to "グループから脱退", group_groupout_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
                <% else %>
                  <%= link_to 'グループに加入', group_join_path(@group), class: 'btn btn-sm btn-success' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
          
        <div class="col-sm-7 col-xs-6 m-1 ml-5">
          <table class="table table-dark">
            <thead>
              <tr>
                <th class="col-sm-3">題名</th>
                <th class="col-sm-5">本文</th>
                <th class="col-sm-4">投稿日</th>
              </tr>
            </thead>
            <tbody>
              <!--グループひもづくポストをブロック変数に格納-->
              <% @group.posts.each do |post| %>
                <tr>
                  <!--.truncateヘルパメソッドで文字数を省略-->
                  <td>
                    <%= link_to group_post_path(@group,post) do %>
                      <%= post.title.truncate(10) %>
                    <% end %>  
                  </td>
                  <td><%= post.body.truncate(15)  %></td>
                  <td><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
                  <% if post.user.id == current_user.id %>
                  <td><%= link_to 'Edit', edit_group_post_path(@group,post), class: "btn btn-sm btn-success" %></td>
                  <td><%= link_to 'Destroy', group_post_path(@group,post), method: :delete, data: { confirm: '本当に消しますか？' }, 
                  class: "btn btn-sm btn-danger"%></td>
                  <% end %>
                </tr>                       
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class='row'>
        <div class="col-sm-3 col-xs-6 m-1">
          <table class="table table-dark">
            <thead>
              <tr>
                <th class="col-sm-5">Member</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>
                    <% @group.users.each do |member| %>
                      <%= link_to user_path(member) do %>
                      <p class="card-text"><%= member.name %></p>
                      <% end %>
                    <% end %>
                  </td>
                </tr>                       
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  
  
  
