
<div class="sharedmargin">
  <div class="container-md shadow-lg p-3">
    <%= render "shared/flash_message" %>
    <!--post indexとの部分テンプレート-->
     <%= render "shared/group_showcard_form", group: @group %>

    <div class="row mx-auto">
      <div class="col-md-8 mx-auto">
        <nav class="nav nav-pills nav-justified mb-2">
          <%= link_to "メンバー", group_path(@group.id), class: "nav-item nav-link hover-img bg-dark text-white" %>
          <%= link_to "投稿一覧", "#", class: "nav-item nav-link active hover-img bg-light text-dark" %>
        </nav>
      </div>
    </div>
  
    <div class='row scroll-list jscroll m-3 '>
      <% @group.posts.each do |post| %>
        <div class="col-md-3">
          <div class="mb-4 card-deck hover-img"> <!--連結しないで表示したい場合は、card-deck-->
            <div class="card text-white border-dark mb-3 bg-dark ">
                <%= link_to user_path(post.user.id) ,class: "profileimg" do %>
                  <%= attachment_image_tag(post.user, :profile_image, size: "240x180", fallback: "profilenoimage.jpg",class: "profileimg card-img-top img-fluid") %>
                <% end %>
              <div class="card-body">
                <%= link_to group_post_path(@group,post) do %>
                <h5 class="card-title font-weight-bold"><%= post.title.truncate(10) %></h5>
                <% end %>  
                <p class="card-text">本文：<%= post.body.truncate(15) %></p>
                <p class="card-text"><%= time_ago_in_words(post.created_at) %>前に作成</p>
                <% if post.user.id == current_user.id %>
                  <p class="card-text ">
                    <%= link_to '投稿を編集する',edit_group_post_path(@group,post), class: "btn btn-outline-light hover-img m-2" %>
                  </p>
                  <p class="card-text ">
                    <%= link_to '投稿を削除する',group_post_path(@group,post), method: :delete, data: { confirm: '本当にグループを消しますか？' }, class: "btn btn-danger btn-outline-light hover-img m-2"%>
                  </p>
                <% end %>
                <div class="jscroll-pagination"><%= paginate @posts %></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
