<div class="sharedmargin">
    <div class="container-md">
      <%= render "shared/flash_message" %>
        <h3 class="text-white col-sm-3 col-xs-6 m-2 font-italic">投稿内容</h3>

      <div class='row'>
        <div class="col-sm-7 m-2">
          <table class="table table-dark text-center">
            
            <tr> 
              <th rowspan="2"><%= attachment_image_tag(@post.user, :profile_image, size: "80x80", fallback: "profilenoimage.jpeg") %></th>
              <td><%= @post.user.name%>さん</td>
            </tr>
            <tr>
              <!--<th>上のセルと結合して消えるセル </th> -->
              <td><%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
            </tr>
                
            <tbody>
              <tr>
                <td colspan="2" class="text-left"><%= @post.title%></td>
              </tr>                       
            </tbody>
            <tbody>
              <tr>
                <td colspan="2" width="200" height="400" class="text-left"><%= @post.body%></td>
              </tr>     
            </tbody>
            <tbody>
              <tr>
                <td colspan="2" width="200" height="50"class="text-left">
                  <% if @post.user.id == current_user.id %>
                    <%= link_to 'Edit', edit_group_post_path(@group,@post), class: "btn btn-sm btn-success m-2" %>
                    <%= link_to 'Destroy', group_post_path(@group,@post), method: :delete, data: { confirm: '本当に消しますか？' }, 
                    class: "btn btn-sm btn-danger m-2"%></td>
                  <% end %>
                 <!--イイネ機能-->
                  <td id="like_btn_<%= @post.id %>">
                    <%= render "user/likes/like", group: @group, post: @post %>
                  </td>
                 <!--イイネ機能-->
                </td>
              </tr>                       
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
  



