<!--部分テンプレートにより@group➩group変更-->

<%= form_with model:group,local:true do |f| %>
  <%= render 'shared/form_error', model: group %>
  <div class="form-group row">
    <h3 class="col-sm-4 col-form-label">Group Image</h3>
    <div class="col-sm-8">
      <%= f.attachment_field :image, class: "custom-file-input" %>
      <%= f.label :image, "グループ画像を選択", class: "custom-file-label" %>
    </div>
  </div>
  <div class="form-group row">
    <h3 class="col-sm-4 col-form-label">Group Name</h3>
    <div class="col-sm-8">
    <%= f.text_area :name, placeholder: "グループ名を記述して下さい",class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <h3 class="col-sm-4 col-form-label">Group Introduction</h3>
    <div class="col-sm-8">
    <%= f.text_area :introduction, placeholder: "こちらにグループの説明文を記述して下さい",class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-8 offset-sm-4 text-right">
      <%= f.submit class: 'btn btn-secondary form-control' %>
    </div>
  </div>
<% end %>