 <!-- ナビゲーションバー -->
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <!--fixed-topでヘッダーを固定-->
    <div class="container">
    <!-- タイトル -->
    <div class="topfont">
    <%= link_to "Shuffle", root_path, class: "navbar-brand" %>
    </div>
    <!-- ハンバーガーメニュー -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!--<span class="navbar-toggler-icon"></span> 3本線のアイコン-->
      <i class="fab fa-apple fa-2x"></i> <!--アイコンをアップルに変更-->
    </button>
    <!-- ナビゲーションメニュー -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%# userサインイン済 %>
          <span class="navbar-text">
            ようこそ、<%= current_user.name %>
          </span>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mypage", user_path(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Users", users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Groups", groups_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>        
        <% else %>
          <%# userサインイン前 %>
          <li class="nav-item active">
            <%= link_to "Groups", groups_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "UserLogin", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'GestLogin', users_guest_sign_in_path, method: :post, class:"nav-link"%>
          </li>
          <li class="nav-item">
          <%= link_to "AdminLogin", new_admin_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
 </nav>